* {
    box-sizing: border-box;
}

/* Calculations below for color originally from: https://www.smashingmagazine.com/2020/07/css-techniques-legibility/ */
@media (prefers-color-scheme: dark) {
    :root {
        --background-red: 22;
        --background-green: 22;
        --background-blue: 22;
        --background-color: rgb(var(--background-red), var(--background-green), var(--background-blue));
        --foreground-brightness: ((var(--background-red) * 299) + (var(--background-green) * 587) + (var(--background-blue) * 114)) / 1000;
        --foreground-component-color: calc((var(--foreground-brightness) - 128) * -1000);
        --foreground-color: rgb(var(--foreground-component-color), var(--foreground-component-color), var(--foreground-component-color));
        --foreground-secondary-color: rgb(180, 180, 180);
    }

    a:link {
        color: dodgerblue;
    }

    a:visited {
        color: cornflowerblue;
    }

    a:hover {
        color: deepskyblue;
    }

    core-links-item a:visited {
        color: dodgerblue;
    }

    .info-box {
        box-shadow: 0px 0px 0px 1px rgb(var(--foreground-component-color), var(--foreground-component-color), var(--foreground-component-color));
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-red: 255;
        --background-green: 255;
        --background-blue: 255;
        --background-color: rgb(var(--background-red), var(--background-green), var(--background-blue));
        --foreground-brightness: ((var(--background-red) * 299) + (var(--background-green) * 587) + (var(--background-blue) * 114)) / 1000;
        --foreground-component-color: calc((var(--foreground-brightness) - 128) * -1000);
        --foreground-color: rgb(var(--foreground-component-color), var(--foreground-component-color), var(--foreground-component-color));
        --foreground-secondary-color: rgb(180, 180, 180);
    }

    core-links-item a:link {
        color: blue;
    }

    core-links-item a:visited {
        color: blue;
    }

    .info-box {
        box-shadow: 0 1px 3px rgba(var(--foreground-component-color), var(--foreground-component-color), var(--foreground-component-color),0.12), 0 1px 2px rgba(var(--foreground-component-color), var(--foreground-component-color), var(--foreground-component-color),0.24);
    }
}

html {
    background: var(--background-color);
    color: var(--foreground-color);
}

body {
    font-family: charter, Cambria, Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
}

.wait-cursor {
    cursor: wait;
}

.single-photo-body {
    color: var(--foreground-secondary-color);
    margin-top: 0;
}

.single-photo-container {
    text-align: center;
    display: table;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.single-photo {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 98vh;
}

.single-photo-caption {
    text-align: center;
    margin-top: .2rem;
    margin-bottom: .3rem;
    display: table-caption;
    caption-side: bottom;
    color: var(--foreground-secondary-color);
    line-height: calc(1ex / 0.32);
}

.map-figure-title-caption {
    text-align: center;
    margin-top: .2rem;
    display: block;
}

.file-embed-caption {
    text-align: center;
    margin-top: .2rem;
    display: block;
}

.single-image-body {
    font-family: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: var(--foreground-secondary-color);
    margin-top: 0;
}

.single-image-container {
    text-align: center;
    display: table;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.single-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 98vh;
}

.single-image-caption {
    text-align: center;
    margin-top: .2rem;
    margin-bottom: .3rem;
    display: table-caption;
    caption-side: bottom;
    color: var(--foreground-secondary-color);
    line-height: calc(1ex / 0.32);
}

.image-source-notes-content {
    margin: 2.5rem;
    text-align: center;
}

.point-text-info-container {
    display: flex;
    justify-content: center;
}

.point-content-map {
    height: 90vh;
}

.point-map-label {
    font-size: 1rem;
    color: rgb(51, 136, 255);
    font-weight: bold;
    width: max-content !important;
    height: auto !important;
}

.info-list-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    color: var(--foreground-secondary-color);
    margin-left: 1%;
    margin-right: 1%;
}

.info-box {
    margin: 3px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 4px;
    text-align: center;
}

a.info-list-link-item:visited {
    display: block;
    text-decoration: none;
}

a.info-list-link-item:hover {
    display: block;
    text-decoration: underline;
}

a.info-list-link-item:active {
    display: block;
    text-decoration: none;
}

a.info-list-link-item {
    margin: .5rem 1.5rem;
    display: block;
    color: var(--foreground-secondary-color);
    text-decoration: none;
}

.info-list-text-item {
    margin: .5rem 1.5rem;
    display: block;
    color: var(--foreground-secondary-color);
    text-decoration: none;
}

.info-list-label {
    margin-top: 1rem;
    margin-bottom: .6rem;
    margin-right: 0.4rem;
    width: 100vw;
    text-align: center;
}

.footer-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer-site-link-content {
    color: var(--foreground-color);
}

.footer-content-lists-container {
    margin-top: 2rem;
}

.footer-site-email {
    color: var(--foreground-secondary-color);
}

.footer-site-link-content {
    margin-top: 1rem;
}

.footer-content-list {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer-camera-roll-link {
    margin-left: 1rem;
    margin-right: 1rem;
}

.footer-site-about {
    margin-left: 1rem;
    margin-right: 1rem;
}

.site-header-container {
    display: block;
    margin: 1rem;
}

.site-header-title {
    text-align: center;
    font-weight: normal;
    font-size: 2.4rem;
    margin: 0;
}

a.site-header-title-link {
    color: var(--foreground-color);
    text-decoration: none;
}

a.site-header-title-link:visited {
    color: var(--foreground-color);
    text-decoration: none;
}

a.site-header-title-link:hover {
    color: var(--foreground-color);
    text-decoration: underline;
}

a.site-header-title-link:active {
    color: var(--foreground-color);
    text-decoration: none;
}

.note-title-content {
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: .6rem;
}

.site-header-subtitle {
    color: var(--foreground-secondary-color);
    text-align: center;
    margin: .3rem;
    font-weight: normal;
    font-size: 1.1rem;
}

.title-link-content, .title-content {
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    color: var(--foreground-color);
    font-size: 1.7rem;
    line-height: calc(1ex / 0.42);
    margin-bottom: 0;
}

.title-link-content a {
    text-decoration: none;
    color: var(--foreground-color);
}

.title-link-content a:visited {
    text-decoration: none;
    color: var(--foreground-color);
}

.title-link-content a:hover {
    text-decoration: underline;
    color: var(--foreground-color);
}

.title-link-content a:active {
    text-decoration: none;
    color: var(--foreground-color);
}

.post-title-area-created-and-updated-content {
    font-weight: normal;
    text-align: center;
    margin-top: .5rem;
    color: var(--foreground-secondary-color);
}

.core-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: .3rem .3rem .6rem .3rem;
}

.core-links-item {
    line-height: 0;
    margin: 2px 12px;
}

.post-body-container {
    margin-bottom: 1.8rem;
    margin-top: 2rem;
}

.post-body-content p:not(.info-list-text-item) {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: calc(1ex / 0.32);
}

.post-body-content ul,
.post-body-content ol,
.post-body-content h1,
.post-body-content h2,
.post-body-content h3,
.post-body-content h4,
.post-body-content h5,
.post-body-content h6 {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: calc(1ex / 0.32);
}

.post-body-content blockquote {
    border-left: 2px solid #aaa;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.5em 10px;
    margin-left: 1%;
    margin-right: 1%;
}

.update-notes-title,
.update-notes-content p,
.update-notes-content ul {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1rem;
    color: var(--foreground-secondary-color);
}

.file-download-container {
    text-align: center;
    margin: 1rem;
}

.file-embed-container {
    text-align: center;
    margin: 1rem 10%;
}

.file-embed {
    width: 100%;
    height: 80vh;
}

.video-embed {
    width: 100%;
    max-height: 80vh;
}

.created-and-updated-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2.5rem;
}

.compact-content-container {
    margin: 3px;
    width: 316px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 4px;
    display: flex;
}

.compact-content-list-label {
    margin-top: 1rem;
    margin-bottom: .6rem;
    margin-right: 0.4rem;
    width: 100vw;
    text-align: center;
}

.compact-content-image-content-container {
    width: 100px;
    height: 100px;
    min-width: 100px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.compact-content-text-content-container {
    width: 100%;
    height: 100px;
    margin: 4px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

.compact-content-text-content-title-container {
    font-size: 14px;
    text-align: center;
    margin: .4rem .2rem .2rem 0;
}

.compact-content-text-content-title-link {
    text-decoration: none;
    color: var(--foreground-secondary-color);
    display: inline-block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: auto;
    max-height: 70px;
}

.compact-content-text-content-date {
    font-size: 12px;
    text-align: end;
}

.compact-content-list-container {
    display: flex;
    margin: 1rem auto;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 4px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: var(--foreground-secondary-color);
}

.compact-content-image-content-container {
    width: 100px;
    min-width: 100px;
    height: 100px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.compact-content-text-content-container {
    height: 100px;
    width: 100%;
    margin: 4px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

.compact-content-text-content-summary {
    font-size: 12px;
    color: var(--foreground-secondary-color);
}

.compact-content-text-content-optional-summary {
    font-size: 12px;
    color: var(--foreground-secondary-color);
    overflow: auto;
    display: none;
}

.compact-content-text-content-date {
    font-size: 12px;
    text-align: end;
    color: var(--foreground-secondary-color);
}

.content-list-item-container {
    margin: 10px 2px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 4px;
    display: flex;
    width: 300px;
    min-width: 300px;
}

.thumb-vertical {
}

.thumb-horizontal {
}

.content-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.information-section {
    color: var(--foreground-secondary-color);
}

.daily-photo-gallery-list-container {
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: initial;
}

.daily-photo-gallery-photo-container {
    width: 96vw;
    margin-left: auto;
    margin-right: auto;
}

.camera-roll-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 16px;
}

.camera-roll-photo-item-container {
    width: 120px;
    margin: 2vw;
}

.camera-roll-info-item-container {
    width: 96vw;
    text-align: center;
    margin: 24px auto auto auto;
}

.camera-roll-info-date {
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.camera-roll-info-date {
    font-weight: bold;
}

.camera-roll-info-camera {
    font-size: small;
    margin-top: 12px;
}

.camera-roll-info-lens {
    font-size: small;
    margin-top: 6px;
}

.camera-roll-year-list-container {
    display: flex;
    width: 96vw;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto 12px;
}

.camera-roll-year-list-item {
    margin: .4rem;
}

.camera-roll-year-list-label {
    font-style: italic;
}

.camera-roll-month-list-container {
    display: flex;
    width: 96vw;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 12px;
}

.camera-roll-month-list-label {
    font-style: italic;
}

.camera-roll-month-list-item {
    margin: .4rem;
}

.camera-roll-nav-current-selection {
    font-weight: bold;
}

.camera-roll-nav-unused-selection {
    opacity: .2;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag-list-item {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 4px;
    margin: 8px;
}

a.tag-list-link:visited {
    margin: 8px;
    display: block;
    color: var(--foreground-color);
}

a.tag-list-link:hover {
    margin: 8px;
    display: block;
    color: var(--foreground-color);
    text-decoration: underline;
}

a.tag-list-link:active {
    margin: 8px;
    display: block;
    color: var(--foreground-color);
}

a.tag-list-link {
    margin: 8px;
    display: block;
    color: var(--foreground-color);
}


.standard-rule {
    border-radius: 4px;
    color: var(--foreground-secondary-color);
    opacity: .2;
    max-width: 60%;
    margin-bottom: 1rem;
}

.search-input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.4rem;
}

.search-input {
    width: 300px;
    border-radius: 4px;
    padding: 6px 10px;
}

.content-list-filter-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -50px;
    margin-bottom: 1rem;
}

.content-list-filter-item {
    margin: 0 .4rem;
}

.link-compact-text-content-container {
    height: 100px;
    width: 100%;
    margin: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.link-compact-text-content-summary {
    font-size: 12px;
    color: var(--foreground-secondary-color);
    overflow: auto;
}


@media screen and (min-width: 640px) {
    .post-body-content p:not(.info-list-text-item) {
        margin-left: 4%;
        margin-right: 4%;
    }

    .post-body-content ul,
    .post-body-content ol,
    .post-body-content h1,
    .post-body-content h2,
    .post-body-content h3,
    .post-body-content h4,
    .post-body-content h5,
    .post-body-content h6 {
        margin-left: 4%;
        margin-right: 4%;
    }

    .post-body-content blockquote {
        margin-left: 4%;
        margin-right: 4%;
    }

    .update-notes-title,
    .update-notes-content p,
    .update-notes-content ul {
        margin-left: 4%;
        margin-right: 4%;
    }

    .tags-container {
        margin-left: 4%;
        margin-right: 4%;
    }

    .daily-photo-gallery-photo-container {
        width: 46vw;
        margin: 1vw;
    }

    .camera-roll-info-item-container {
        width: 20vw;
        margin: auto;
    }

    .camera-roll-month-list-container {
        width: 20vw;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    .camera-roll-year-list-container {
        display: flex;
        width: 96vw;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto 12px;
    }

    .search-input {
        width: 600px;
    }

    .content-list-item-container {
        width: 600px;
        min-width: 600px;
    }

        .content-list-item-container .compact-content-text-content-optional-summary {
            display: block;
        }
}


@media screen and (min-width: 1200px) {
    .title-link-content, .title-content {
        font-size: 2rem;
        line-height: calc(1ex / 0.42);
    }

    .site-header-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .site-header-title {
        justify-self: flex-end;
    }

    .site-header-subtitle-menu-container {
        grid-column-start: 2;
        justify-self: flex-start;
        margin-left: 2rem;
        display: grid;
        align-content: center;
    }

    .core-links-container {
        margin: 0;
    }

    .site-header-subtitle {
        margin: 0;
    }

    .post-body-content p:not(.info-list-text-item) {
        max-width: 1100px;
        width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }

    .post-body-content ul,
    .post-body-content ol,
    .post-body-content h1,
    .post-body-content h2,
    .post-body-content h3,
    .post-body-content h4,
    .post-body-content h5,
    .post-body-content h6 {
        max-width: 1100px;
        width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }

    .post-body-content blockquote {
        max-width: 1080px;
        width: 80ch;
        margin-left: auto;
        margin-right: auto;
    }

    .update-notes-title,
    .update-notes-content p,
    .update-notes-content ul {
        width: 1100px;
        width: 80ch;
        margin-left: auto;
        margin-right: auto;
    }

    .tags-container {
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    .daily-photo-gallery-photo-container {
        width: 30vw;
        margin: 12px;
    }

    .camera-roll-photo-item-container {
        width: 14vw;
        margin: 1vw;
    }

    .roll-month-list-container {
        width: 16vw;
    }

    .compact-content-list-container {
        max-width: 1200px;
    }

    .search-input {
        width: 900px;
    }

    .content-list-item-container {
        width: 900px;
        min-width: 900px;
    }
}
