<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PointlessWaymarks.SiteViewerGui.SiteViewerGuiAppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PointlessWaymarks.SiteViewerGui.SiteViewerGuiAppSettings>
            <setting name="ProgramUpdateLocation" serializeAs="String">
                <value>M:\PointlessWaymarksPublications</value>
            </setting>
        </PointlessWaymarks.SiteViewerGui.SiteViewerGuiAppSettings>
    </userSettings>
</configuration>