<#@ template language="C#" #>
<#@ import namespace="CommonHtml" #>

<div class="content-container" data-contentversion="<#=DbEntry.ContentVersion.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss'.'fffffff") #>">
    <#=
                PictureInformation.PictureFigureWithCaptionTag("100vw") #>
    <#= Tags.PostBodyDiv(DbEntry).ToString() #>
    <#=
                BodyContentReferences.RelatedContentTag(DbEntry, GenerationVersion).Result #>
</div>
