<#@ template language="C#" #>
<#@ import namespace="CommonHtml" #>

<div class="content-container">
    <#=
                PictureInformation.PictureFigureWithCaptionTag("100vw") #>
    <#=
                PhotoDetails.PhotoDetailsDiv(DbEntry).ToString() #>
    <#= Tags.PostBodyDiv(DbEntry).ToString() #>
    <#=
                BodyContentReferences.RelatedContentTag(DbEntry.ContentId, "").Result #>
</div>
