<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<div class="post-container">
    <#= TitleDiv() #>
    <#= CommonHtml.Tags.PostCreatedByAndUpdatedOnDiv(DbEntry).ToString() #>
    <#= CommonHtml.Tags.PostBodyDiv(DbEntry) #>
</div>