<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<div class="content-container">
    <#= CommonHtml.Tags.TitleLinkDiv(DbEntry, DbEntry) #>
    <#= CommonHtml.Tags.PostCreatedByAndUpdatedOnDiv(DbEntry).ToString() #>
    <#= CommonHtml.Tags.PostBodyDiv(DbEntry) #>
</div>