<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="CommonHtml" #>

<div class="content-container">
    <#= PictureInformation.PictureFigureWithCaptionTag("100vw") #>
    <#= ImageParts.ImageSourceNotesDivTag(DbEntry) #>
    <#= BodyContentReferences.RelatedContentTag(DbEntry.ContentId, "").Result #>
</div>
