<#@ template language="C#" #>
<#@ import namespace="CommonHtml" #>

<div class="content-container" data-contentversion="<#=DbEntry.ContentVersion.ToString("O") #>">
    <#= NoteParts.NoteTitleLinkDiv(DbEntry) #>
    <#= Tags.PostBodyDiv(DbEntry) #>
    <#=
                BodyContentReferences.RelatedContentTag(DbEntry.ContentId, "").Result #>
</div>
